/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/* Variables */
$colorBlue900: #0b0d17;
$colorBlue300: #d0d6f9;
$colorWhite: #ffffff;

$fontFamilyPrimary: "Barlow", serif;
$fontFamilySecondary: "Barlow Condensed", serif;
$fontFamilyHeading: "Bellefair", serif;

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $colorWhite;
  font-family: $fontFamilyPrimary;
}

// Navbar

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 2.4rem;
  width: 100%;
  margin-bottom: 2.4rem;
  z-index: 1;

  &__logo {
    width: 4rem;
    height: 4rem;
  }

  &__menu {
    cursor: pointer;
  }
}

// Mobile Navbar

.MobileNavbar {
  position: absolute;

  right: 0;
  top: 0;
  height: 100vh;
  z-index: 12;
  width: 63%;

  &__blur {
    background-color: rgba(11, 13, 23, 0.05);
    backdrop-filter: blur(8.5rem);
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

// Home

.Home {
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.4rem;
  }

  &__title {
    color: #d0d6f9;
    font-family: $fontFamilySecondary;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  &__heading {
    font-size: 8rem;
    font-family: $fontFamilyHeading;
    font-weight: 400;
    margin-bottom: 2.4rem;
    outline: none;
  }

  &__text {
    color: #d0d6f9;
    font-size: 1.5rem;
    line-height: 180%;
    margin-bottom: 4rem;
  }

  &__button {
    font-family: $fontFamilyHeading;
    font-size: 1.8rem;
    padding: 6.15rem 3.3rem;
    border: none;
    border-radius: 100%;
  }
}
